
__pycache__/engine.cpython-37.pyc
__pycache__/panels.cpython-37.pyc
__pycache__/Ui_Chiaro.cpython-37.pyc
mvexperiment/__pycache__/curve.cpython-37.pyc
mvexperiment/__pycache__/experiment.cpython-37.pyc
mvexperiment/__pycache__/mvFilesystem.cpython-37.pyc
mvexperiment/__pycache__/mvObject.cpython-37.pyc
mvexperiment/__pycache__/pathto.cpython-37.pyc
.idea/nanoindentation.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
test.ipynb
e391eff5df0727daa5c0832cc7c688954a884d01ea0ddaa2.ipynb

.idea/vcs.xml
engine_original.py
PickleForTest3c.pickle
PickleForTest2d.pickle
ArrayData/ArrayData_test.csv
ArrayData/ArrayData_test.png
ArrayData/ArrayData_test.txt
imname.png
PickleForTest.pickle
PickleForTest2.pickle
PickleForTest2b.pickle
__pycache__/chiaro.cpython-37.pyc
PickleForTest2small2.pickle
