
__pycache__/engine.cpython-37.pyc
__pycache__/panels.cpython-37.pyc
__pycache__/Ui_Chiaro.cpython-37.pyc
mvexperiment/__pycache__/curve.cpython-37.pyc
mvexperiment/__pycache__/experiment.cpython-37.pyc
mvexperiment/__pycache__/mvFilesystem.cpython-37.pyc
mvexperiment/__pycache__/mvObject.cpython-37.pyc
mvexperiment/__pycache__/pathto.cpython-37.pyc
.idea/nanoindentation.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
test.ipynb
e391eff5df0727daa5c0832cc7c688954a884d01ea0ddaa2.ipynb

.idea/vcs.xml
engine_original.py
PickleForTest3c.pickle
PickleForTest2d.pickle
ArrayData/ArrayData_test.csv
ArrayData/ArrayData_test.png
ArrayData/ArrayData_test.txt
imname.png
PickleForTest.pickle
PickleForTest2.pickle
PickleForTest2b.pickle
__pycache__/chiaro.cpython-37.pyc
PickleForTest2small2.pickle
*.pyc
.ipynb_checkpoints/analysis-checkpoint.ipynb
x.txt
y.txt
x.txt
y.txt
y.txt
x.txt
y.txt
x.txt
y.txt
boh.pickle
filter.ipynb
gels/20191113-5percPEGonly01.pickle
gels/20191203-PEGSH3.5.pickle
gels/20191203-PEGSH5.pickle
gels/20200129-pegonlysh35noGlass.pickle
gels/20200129-pegonlysh35wGlass.pickle
gels/20200129-pegonlysh50noGlass.pickle
gels/20200129-pegonlysh50wGlass.pickle
gels/20200228-pegonly35.pickle
gels/20200228-pegonly50.pickle
.spyproject/config/backups/workspace.ini.bak
.spyproject/config/backups/vcs.ini.bak
.spyproject/config/backups/encoding.ini.bak
.spyproject/config/backups/codestyle.ini.bak
filtana.py
pro.txt
pro2.txt
filtana.py
gels/20191113-5percPEGonly01-later.pickle
gels/20191203-PEGSH3.5-later.pickle
gels/20191203-PEGSH5-later.pickle
gels/20200129-pegonlysh35wGlass-later.pickle
gels/20200129-pegonlysh50wGlass-later.pickle
gels/20200228-pegonly35-later.pickle
gels/prv.pickle
.spyproject/config/workspace.ini
gels/01-20191113-02.pickle
gels/01-20191113-0203.pickle
gels/01-20191113-03.pickle
gels/01-20191203-35.pickle
gels/01-20191203-50-02.pickle
gels/01-20191203-50-0203.pickle
gels/01-20191203-50-03.pickle
gels/01-20191203-50nocv.pickle
gels/01-20200129-35cv.pickle
gels/01-20200129-50cv.pickle
gels/02-20191113-02.pickle
gels/02-20191113-0203.pickle
gels/02-20191113-03.pickle
gels/02-20191203-35.pickle
gels/02-20191203-50-02.pickle
gels/02-20191203-50-0203.pickle
gels/02-20191203-50-03.pickle
gels/02-20191203-50nocv.pickle
gels/02-20200129-35cv.pickle
gels/02-20200129-50cv.pickle
gels/01-bilayer.pickle
